/* .product-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 12px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.product-card img {
  width: 100%;
  max-width: 220px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 8px;
}

.product-card h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 6px 0;
}

.product-card p {
  margin: 2px 0;
}

.product-card button {
  margin-top: 8px;
  padding: 6px 12px;
  background-color: #051960;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.product-card button:hover {
  background-color: #104385;
} */
